# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.tox/
build/
dist/

# Environments
.venv/
.env
.env.*
!.env.example
!.env-template
!.env.template

# IDE
.idea/
.vscode/*.log
.vscode/*

# Notebooks
.ipynb_checkpoints/

# custom
config_backup/*